*{
   padding:0;
   margin: 0;
   box-sizing: border-box;
}

#name,#pass,#age,#phone,#male,#female,#order,#math,#english,#physical,#chemistry{
   margin-bottom: 20px;
   margin: auto;
   display: block;
}

.label{
   margin-bottom: 20px;
   margin-left: 47%;
}

#date{
   margin-left: 47%;
   display: block;
}

#note{
   margin-left: 47%;
}

.title{
   margin-top:10px;
   margin-bottom: 10px;
   margin-left: 47%;
}

button{
   background-color:bisque;
}